@media screen and (min-width: 900px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
    }
    .body{
        width: 100vw;
        margin-top: -16px;
    }
    
}
@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr;
    }
    
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
 
    button:active{
        opacity: .3;
    }
}

/* para celular na horizontal */

@media screen and ( min-width: 576px) and (orientation: landscape) {
    .body{
        width: 100vw;
    }
    
}